<table class="table table-bordered">
  <thead>
    <tr>
      <th>图</th>
      <th>产品名称</th>
      <th>劲减</th>
      <th>价格</th>
      <th>更新时间</th>
      <th>去购买</th>
    </tr>
  </thead>
  <tbody>
    <% @bargains.each do |bargain| %>
    <% discount = 100 - (bargain.price.to_f / bargain.history_low.to_f * 100 rescue bargain.discount.to_f)
    class_name = case
    when discount > 50 then "danger"
    when discount > 25 then "warning"
    end
    %>
    <tr class="<%= class_name %>">
      <td><%= image_tag(bargain.product.image_url, height: '40', width: '40', class: "img-polaroid") %></td>
      <td><%= link_to bargain.product.name.to_s[0, 45], product_path(bargain.product), target: "_blank" %></td>
      <td><%= "-#{sprintf("%.2f", discount)}%" %></td>
      <td><%= "￥#{bargain.price}" %></td>
      <td><%= friendly_time bargain.created_at %></td>
      <td><%= link_to "去购买", bargain.product.purchase_link, target: "_blank", rel: "nofollow", class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @bargains, :renderer => BootstrapPagination::Rails %>
<% content_for :title do %>首页<% end %>
<% content_for :meta_keywords do %>降价商品,什么降价了<% end %>
<% content_for :meta_desc do %>就在刚才，京东商城、亚马逊中国、当当还有新蛋商城的多款电商商品降价了，快来看看捡个大便宜吧！<% end %>