<table class="table">
  <thead>
    <tr>
      <th>产品名称</th>
      <th>更新时间</th>
      <th>当前价格</th>
      <th>历史新低</th>
    </tr>
  </thead>
  <tbody>
    <% @bargains.each do |bargain| %>
    <tr>
      <td><%= link_to bargain.product.name, bargain.product.url, target: "_blank" %></td>
      <td><%= bargain.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= bargain.price %></td>
      <td><%= "-#{sprintf("%.2f", (100 - (bargain.price.to_f / bargain.history_low * 100 rescue bargain.discount.to_f) ) )}%" %></td>
    </tr>
    <% end %>
  </thead>
</table>
<%= will_paginate @bargains, :renderer => BootstrapPagination::Rails %>