<table class="table table-bordered">
  <thead>
    <tr>
      <th style="text-align: center">图片</th>
      <th style="text-align: center">价格</th>
      <th>产品名称</th>
      <th>时间</th>
      <th width='68px' style="text-align: center">去购买</th>
    </tr>
  </thead>
  <tbody>
    <% @bargains.each do |bargain| %>
    <% discount = 100 - (bargain.price.to_f / bargain.history_low.to_f * 100 rescue bargain.discount.to_f)
    class_name = case
    when discount > 50 then "error"
    when discount > 25 then "warning"
    end
    %>
    <tr class="<%= class_name %>">
      <td height="50px" width='50px' style="text-align: center"><%= link_to image_tag(bargain.product.image_url, height: '50px', width: '50px'), product_path(bargain.product), target: "_blank" %></td>
      <td style="text-align: center">
        <font color="red"><%= sanitize "￥#{bargain.price}" %></font>
        <br />
        <font size='1'><%= "(-#{sprintf("%.1f", discount)}%)" %></font>
      </td>
      <td><%= link_to bargain.product.name.to_s, product_path(bargain.product), target: "_blank" %></td>
      <td width='78px'><%= friendly_time bargain.created_at %></td>
      <td style="text-align: center"><%= link_to "去购买", bargain.product.purchase_link, target: "_blank", rel: "nofollow", class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @bargains, :renderer => BootstrapPagination::Rails %>
<% content_for :title do %>首页<% end %>
<% content_for :meta_keywords do %>降价商品,什么降价了<% end %>
<% content_for :meta_desc do %>就在刚才，京东商城、亚马逊中国、当当还有新蛋商城的多款电商商品降价了，快来看看捡个大便宜吧！<% end %>