<div class="content">
  <div class="content_main">
    <% @bargains.each do |bargain| %>
    <% discount = 100 - (bargain.price.to_f / bargain.history_low.to_f * 100 rescue bargain.discount.to_f)
    class_name = case
    when discount > 50 then "zhangf"
    when discount > 25 then "zhangfu"
    end
    %>
    <div class="unified">
      <dl>
        <dt><%= link_to image_tag(bargain.product.image_url, class: "img-polaroid fixed"), product_path(bargain.product), target: "_blank" %></dt>
        <dd><%= link_to bargain.product.name.to_s, product_path(bargain.product), target: "_blank" %></dd> 
        <% if class_name %>
        <div class="<%= class_name %>">
          <span>降幅幅超过<%= "#{sprintf("%.1f", discount)}%" %></span>
        </div>
        <% end %>
      </dl>
      <div class="price">
        <ul>
          <li class="now"><strong><%= sanitize "￥#{bargain.price}" %></strong></li>
          <li class="before"><del>原价：<%= bargain.history_low %></del></li>
        </ul>
        <div class="price_down">
          <span><%= "-#{sprintf("%.1f", discount)}%" %></span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="gotosee">
        <p><%= friendly_time bargain.created_at %></p>
        <%= link_to "去看看", product_path(bargain.product), target: "_blank", class: "btn btn-warning" %>
        <div class="clear"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>

<%= will_paginate @bargains, :renderer => BootstrapPagination::Rails, class: "pagination pagination-large pagination-centered fenye" %>

<% content_for :title do %>首页<% end %>
<% content_for :meta_keywords do %>降价商品,什么降价了<% end %>
<% content_for :meta_desc do %>就在刚才，京东商城、亚马逊中国、当当还有新蛋商城的多款电商商品降价了，快来看看捡个大便宜吧！<% end %>