<table class="table table-bordered">
  <tr>
    <td colspan="2"><h1><%= @product.name %></h1></td>
  </tr>
  <tr class="grey">
    <td rowspan="5" width="300"><%= image_tag @product.image_url, height: '300', width: '300' %></td>
    <td><%= @product.category %></td>
  </tr>
  <tr class="grey">
    <td>销量：<%= @product.count %></td>
  </tr>
  <tr class="grey">
    <td>好评率：<%= @product.good_percent %></td>
  </tr>
  <tr class="grey">
    <td>价格：<font color="red"><%= "￥#{@product.last_price}" %></font></td>
  </tr>
  <tr class="grey">
    <td><%= link_to "去购买", @product.purchase_link, target: "_blank", rel: "nofollow", class: "btn btn-success" %></td>
  </tr>
  <tr>
    <td colspan="3"><div id="price_chart" style="height: 200px;"></div></td>
  </tr>
  <tr class="grey">
    <td colspan="3" id="product_info">
      <%= show_info @product.info %>
    </td>
  </tr>
</table>
<% content_for :script do %>
<script type="text/javascript">
  <% if @product.class ==  Product::Dangdang %>
  $("#detail_all").html($("#detail_all textarea").val());
  <% else @product.class ==  Product::Gome %>
  $("#product_info img").each(function(i){
    $(this).attr("src", $(this).attr("gome-src"));
  });
  <% end %>
  $("#price_chart").load("/ajax/get_prices?id=<%= @product.id.to_i %>");
</script>
<% end %>
<% content_for :title do %><%= @product.name[0, 50] %><% end %>
<% content_for :meta_keywords do %>降价商品,什么降价了,<%= @product.name[0, 30] %><% end %>
<% content_for :meta_desc do %>产品详情<%#= (remove_line_break (strip_tags @product.product_info.try(:info)).to_s)[0, 240] %><% end %>