<style>
  .table-bordered{ width:1200px; margin:0 auto;}
  h1{font-size: 22px; padding: 20px;}
  .grey td{ padding:10px; color:#666;}
  a.btn.btn-success {
    background: #fb602a;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  .highcharts-container{ padding:10px;}
</style>
<table class="table table-bordered">
  <tr>
    <td colspan="2"><h1><%= @product.name %></h1></td>
  </tr>
  <tr class="grey">
    <td rowspan="5" width="300"><%= image_tag @product.image_url, height: '300', width: '300' %></td>
    <td><%= @product.category %></td>
  </tr>
  <tr class="grey">
    <td>销量：<%= @product.count %></td>
  </tr>
  <tr class="grey">
    <td><%= link_to "好评率：#{@product.good_percent}", @product.try(:comment_link), target: "_blank" %></td>
  </tr>
  <tr class="grey">
    <td>价格：<font color="red"><%= "￥#{@product.last_price}" %></font></td>
  </tr>
  <tr class="grey">
    <td><%= link_to "去购买", @product.purchase_link, target: "_blank", rel: "nofollow", class: "btn btn-success" %></td>
  </tr>
  <tr>
    <td colspan="3"><div id="price_chart" style="height: 200px;"></div></td>
  </tr>
  <tr class="grey">
    <td colspan="3" id="product_info"></td>
  </tr>
</table>

<% content_for :script do %>
<script type="text/javascript">
  $( "#price_chart" ).load( "/ajax/get_prices?id=<%= @product.id.to_i %>" );
  $( "#product_info" ).load( "/ajax/get_info?id=<%= @product.id.to_i %>" );
</script>
<% end %>
<% content_for :title do %><%= @product.name[0, 50] %><% end %>
<% content_for :meta_keywords do %><%= @product.name[0, 30] %> 全网比价 神价格 手慢无 什么值得买 网购优惠 什么降价了<% end %>
<% content_for :meta_desc do %>产品降价了，<%= @product.name[0, 50] %>，最新价格竟然是：<%= @product.last_price %>元<% end %>