<table class="table table-bordered">
  <tr>
    <td colspan="3"><h1><%= @product.name %></h1></td>
  </tr>
  <tr>
    <td>销量：<%= @product.count %></td>
    <td>好评率：<%= @product.score %>%</td>
    <td><%= link_to "去购买", @product.link, target: "_blank" %></td>
  </tr>
  <tr>
    <td colspan="3"><%#= high_chart("my_id4", @chart) %></td>
  </tr>
  <tr>
    <td colspan="3"><%= show_info @product.product_info.try(:info) %></td>
  </tr>
</table>
<% content_for :script do %>
<script type="text/javascript">
  <% if @product.class ==  Product::Dangdang %>
  $("#detail_all").html($("#detail_all textarea").val());
  <% end %>
</script>
<% end %>
