<div class="panel panel-default">
  <table class="table table-bordered">
    <tr>
      <td colspan="3"><h1><%= @product.name %></h1></td>
    </tr>
    <tr>
      <td>销量：<%= @product.count %></td>
      <td>好评率：<%= @product.good_percent %></td>
      <td><%= link_to "去购买", @product.purchase_link, target: "_blank", rel: "nofollow" %></td>
    </tr>
    <tr>
      <td colspan="3"><div id="my_id4"></div></td>
    </tr>
  </table>
  <div class="panel-footer"><%= show_info @product.product_info.try(:info) %></div>
</div>
<% content_for :script do %>
<script type="text/javascript">
  <% if @product.class ==  Product::Dangdang %>
  $("#detail_all").html($("#detail_all textarea").val());
  <% end %>
  // $("#my_id4").load("/ajax/get_prices?id=<%= @product.id.to_i %>");
</script>
<% end %>
<% content_for :title do %><%= @product.name[0, 50] %><% end %>
<% content_for :meta_keywords do %>降价商品,什么降价了,<%= @product.name[0, 30] %><% end %>
<% content_for :meta_desc do %><%= (strip_tags @product.product_info.try(:info)).to_s[0, 240] %><% end %>
