<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>什么降价了</title>
    <%= stylesheet_link_tag   "application", media: "all"%>
    <%= javascript_include_tag  "application" %>
    <%= csrf_meta_tag %>
    <%= yield :header %>
  </head>
  <body>
    <%= render "header" %>
    <%= display_flash %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "footer" %>
  </body>
</html>