<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>什么降价了（SMJJL.COM） - 全网神价监控，发现什么值得买的商品优惠，帮你找到最便宜的价格。 </title>
  <meta name="keywords" content="全网比价 神价格 手慢无 什么值得买 网购优惠 什么降价了" />
  <meta name="description" content="什么降价了，网罗全网神价优惠，定制专属你的网上购物优惠清单，发现全网最值得买的商品秒杀优惠信息，识破电商购物陷阱，打造全网最好的导购平台。" />
  <%= stylesheet_link_tag "v3/smjjl.css", media: "all"%>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="top_bg">
    <div class="top clearfix">
      <a class="logo" href="/"><%= image_tag 'logo.png' %></a>
      <%= form_tag("/", id: 'search_form', method: 'get', style: 'display: inline-block;') do %>
      <%= text_field_tag 'search[product_name_cont]', params[:search].try(:[], :product_name_cont), class: 'searchgoods', placeholder: '输入商品名称' %>
      <a class="search" href="javascript:void(0);" onclick="$('#search_form').submit();"><%= image_tag 'search.png' %><span>搜索</span></a>
      <% end %>
      <% if current_user %>
      <p class="down"><a href="/users/ucenter"><%= current_user.username %></a><a href="<%= destroy_user_session_path %>" data-method='delete' >退出</a></p>
      <% else %>
      <p class="down"><a href="/users/sign_in">登录</a><a href="/users/sign_up">注册</a></p>
      <% end %>
    </div>
  </div>
  <%= yield %>
  <div class="icpnum">备案号<br />鲁ICP备14000922号-1</div>
  <div style='display: none;'><%= flash[:notice] %></div>
  <%= javascript_include_tag  "application" %>
  <%= yield :script %>
  <%= render 'analytics' %>
</body>
</html>