<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= yield(:title) %>_什么降价了</title>
  <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : "什么降价了" %>" />
  <meta name="description" content="<%= yield(:meta_desc) %>" />
  <meta name="baidu-site-verification" content="ys1imE8AcP" />
  <%= stylesheet_link_tag   "application", media: "all"%>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <%= render "header" %>
  <%= display_flash %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render "footer" %>
  <%= javascript_include_tag  "application" %>
  <%= yield :script %>
  <% if Rails.env.production? %>
  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c69ea66172ae9234653b96ffebb8099' type='text/javascript'%3E%3C/script%3E"));
    </script>
  <% end %>
</body>
</html>